.register-form {
    margin: auto;
    margin-top: 24px;

    width: 500px;

    .form-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;;

        button {
            margin-left: 8px;
        }
    }
}